discord.py
jishaku
git+https://github.com/Rapptz/discord-ext-menus
git+https://github.com/InterStella0/starlight-dpy
git+https://github.com/Rapptz/asqlite
toml
aiohttp
Pillow
fast_colorthief
more_itertools
psutil
aiofiles
pygit2
colormap
